.landing-page__header {
  display: flex;
  margin-top: 15rem;
  justify-content: end;
  flex-direction: column;
}

.attendance-page__header {
  display: flex;
  margin-top: 10rem;
  justify-content: end;
  flex-direction: column;
}

.login-page__header {
  display: flex;
  margin-top: 10rem;
  justify-content: end;
  flex-direction: column;
}
